.hdr-custom {
  background-color: #707070; /* Define a cor de fundo do cabeçalho */
  display: flex; /* Exibe itens em linha no cabeçalho */
  align-items: center; /* Alinha verticalmente os itens no centro */
  justify-content: center; /* Alinha os itens horizontalmente ao centro */
}

.logo {
  width: 50px; /* Largura da imagem do logo */
  margin-right: 20px; /* Espaçamento entre a logo e o nome */
}

@media (max-width: 576px) {
  /* extra small */
}

@media (min-width: 576px) and (max-width: 768px) {
  /* small: Estilos para dispositivos pequenos, como tablets em modo retrato */
}

@media (min-width: 768px) and (max-width: 991px) {
  /* large: Estilos para dispositivos médios, como tablets em modo paisagem e alguns desktops pequenos */
}

@media (min-width: 1200px) {
  /* extra large: Estilos para telas grandes, como desktops grandes */
}
