header {
    padding: 20px; /* Espaçamento interno do cabeçalho */
    background-color: #444040; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    opacity: 0.9; /* Define a transparência do cabeçalho */
    display: flex; /* Exibe itens em linha no cabeçalho */
    align-items: center; /* Alinha verticalmente os itens no centro */
    height: 30px; /* Altura do cabeçalho */
    border: 1px solid #ccc; /* Bordas */
    border-radius: 10px; /* Arredonda todos os cantos com raio de 10px */
}

.logo {
    width: 50px; /* Largura da imagem do logo */
    margin-right: 20px; /* Espaçamento entre a logo e o nome */
}

body {
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte */
}


nav#menu {
    display: flex;
    justify-content: flex-start; /* Alinha itens à esquerda */
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative; /* Define posição relativa */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
}

nav#menu li{
    display: inline-block;
    margin: 0 10px;
}

nav#menu li:hover {
    background-color: #383838; /* Cor ao passar o mouse sobre o item */
    border-radius: 6px; /* Aumenta o arredondamento ao passar o mouse */
}

nav#menu a {
    color: black; /* Cor do texto dos links */
    text-decoration: underline; /* Sublinhar o texto do link */
    font-size: 14px; /* Tamanho da fonte dos links */
}

.title{
    text-align: center; /* Centraliza o texto */
    font-size: 300%; /* Aumenta o tamanho do texto */
    font-weight: bolder;
    margin-bottom: 5px;
}

article p {
    margin-bottom: 5px; /* Remove o espaçamento externo */
    text-align: center; /* Centraliza o texto */
}

article > section{
    padding: 0px; /* Espaçamento interno */
    margin: 5px auto; /* Espaçamento externo com centralização */
    border-radius: 10px; /* Arredondamento dos cantos */
    width: 50%; /* Largura da seção */
    text-align: center; /* Centraliza o texto */
    opacity: 0.8; /* Define a transparência */
}

figure {
    padding: 15px; /* Espaçamento interno */
    /* margin: 10px; Espaçamento externo com centralização */
    display: block;
    text-align: center;
    background-color: rgba(70, 70, 70, 0.6);
    border: 1px solid #ccc; /* Bordas */
    border-radius: 10px; /* Arredonda todos os cantos com raio de 10px */
}

figure img {
    width: 50%;
    height: auto; /* Mantém a proporção da imagem */
    border: 1px solid #707070; /* Bordas */
    border-radius: 10px; /* Arredonda todos os cantos com raio de 10px */
}

figure figcaption{
    color: white;
}

@media (max-width: 480px) { 
    /*Media query para dispositivos móveis de no máximo 480px*/
    header {
        flex-direction: flex; /* Exibe itens em coluna */
        align-items: center; /* Centraliza os itens */
        text-align: center; /* Centraliza o texto */
        /* height: auto; Ajusta a altura */
        padding: 5px;
    }
    
    .logo {
        width: 40px; /* Reduz o tamanho da logo */
        margin: 10px auto; /* Centraliza e define espaçamento */
    }
    
    nav {
        display: flex; /* Exibe itens em linha */
        flex-direction: row; /* Exibe itens em coluna */
        align-items: center; /* Centraliza itens */
        border: 0px solid; /* Remove borda */
        opacity: 0.8; 
        position: absolute;
        margin-bottom: 10px;
    }
    nav#menu ul {
        padding: 0px; /* Remove espaçamento */
        text-align: center; /* Centraliza texto */
        display: flex; /* Exibe itens em linha */
        gap: 5px; /* Espaço entre itens */
        justify-content: center;
        left: 0px;
        position: relative;
    }
    nav#menu li {
        display: block; /* Exibe itens em bloco */
        margin: 5px 0; /* Espaço entre itens */
        padding: 5px; /* Espaçamento interno */
        text-align: center; /* Centraliza o texto */
    }

    section {
        width: 90%; /* Largura da seção em dispositivos móveis */
        margin: 10px auto; /* Centraliza a seção */
        padding: 15px; /* Espaçamento interno */
        text-align: center;
    }
    figure {
        width: 80%; /* Largura da figura */
        margin: auto; /* Centraliza a figura */
    }
    body{
        width: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /*Media query para dispositivos de no minimo 480px e no máximo 768px*/
    /*Está query não teve a necessidade de ajustes*/
}

@media (min-width: 769px) and (max-width: 1024px){
    /*Media query para telas pequenas, laptops*/
    body{
        font-size: 1.4em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    /*Media query para desktops, telas grandes*/
    body{
        font-size: 1.5em;
    }
}