header {
    padding: 10px;         /* Espaçamento interno de 10px ao redor do conteúdo do cabeçalho */
    text-align: center;    /* Centraliza o texto horizontalmente */
    color: white;          /* Define a cor do texto como branco */
}

.bg-custom {
    background-color: #707070; /* Define a cor de fundo personalizada como cinza */
}

main {
    text-align: center;    /* Centraliza o texto horizontalmente */
    display: block;        /* Define o elemento como um bloco */
}

section {
    border: 1px solid #ccc;     /* Adiciona borda de 1px com cor cinza claro */
    border-radius: 10px;        /* Arredonda os cantos da borda com raio de 10px */
    color: #ccc;                /* Define a cor do texto como cinza claro */
}

.container-fluid {
    max-width: 100%;           /* Garante que o contêiner ocupe no máximo 100% da largura */
    overflow-x: hidden;        /* Oculta o conteúdo que ultrapassar a largura no eixo horizontal */
}

@media (max-width: 576px) {
    /* Regras para dispositivos extra pequenos (largura máxima de 576px) */
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Regras para dispositivos pequenos (largura entre 576px e 768px) */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Regras para dispositivos grandes (largura entre 768px e 991px) */
}

@media (min-width: 1200px) {
    /* Regras para dispositivos extra grandes (largura mínima de 1200px) */
}