.hdr-custom {
    background-color: #707070; /* Define a cor de fundo do cabeçalho */
    display: flex; /* Ativa o Flexbox para organizar os elementos */
    align-items: center; /* Alinha os itens verticalmente no centro */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

article {
    display: flex; /* Ativa o Flexbox para organizar o conteúdo */
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.form-custom {
    max-width: 100%; /* Define o limite máximo da largura como 100% do contêiner pai */
    padding: 30px; /* Espaçamento interno para separar o conteúdo das bordas */
    margin: 10px; /* Espaçamento externo entre o formulário e os elementos adjacentes */
    border: 1px solid #707070; /* Adiciona uma borda com cor definida */
    border-radius: 10px; /* Arredonda os cantos do formulário */
    background-color: #707070; /* Define a cor de fundo do formulário */
}

.logo {
    width: 50px; /* Define a largura da imagem do logo */
    /* margin-right: 20px; Espaçamento comentado entre a logo e outros elementos */
}

/* Quebras de mídia para responsividade */

/* Dispositivos extra pequenos (largura máxima de 576px) */
@media (max-width: 576px) {
}

/* Dispositivos pequenos (largura mínima de 576px e máxima de 768px) */
@media (min-width: 576px) and (max-width: 768px) {
}

/* Dispositivos médios a grandes (largura mínima de 768px e máxima de 991px) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Dispositivos extra grandes (largura mínima de 1200px) */
@media (min-width: 1200px) {
}
