/* CSS Externo: Definição de estilo externo para a página */

/* Estilo do corpo da página */
body {
    /* Define a cor de fundo da página como burlywood */
    background-color: burlywood;
}

#background-image {
    /* Define uma imagem de fundo para a seção com o id #background-image */
    background-image: url(../infraestructure/assets/images/science.jpg);
    
    /* Evita que a imagem se repita, exibindo apenas uma instância */
    background-repeat: no-repeat;
    
    /* Define que a imagem de fundo fique fixa enquanto o conteúdo da página rola */
    background-attachment: fixed;
    
    /* Centraliza a imagem no topo da tela */
    background-position: center top;
    
    /* Ajusta a imagem para cobrir toda a área da janela */
    background-size: cover;
}

.title {
    /* Define a cor do texto para branco para elementos com a classe .title */
    color: white;
}
